#para-heading .title{
    text-align: right;
    padding: 0rem;
}

.img-fluid{
    float: left;
    padding : 0rem;

}
.container{
    padding: 2rem 0rem;
}

.paragraph{
    padding: 2rem ;
    text-align: justify;
}

.note-footer *{
    text-align: right;
}