<div class="container">
    <div class="row">
        <div class="col-lg">
            <img src="assets/coffee-hero.jpg" class="img-fluid">
        </div>
        <div class="col-lg">
            <div id="para-heading">
                <h3 class="title display-4">hey,</h3>
                <h2 class="title display-3">Diksha</h2>
            </div>
            <div class="paragraph">
                <br/>
                I watch this cup of coffee and i wonder... How it reminds me of you,
                <br/>
                Hold on let me explain -<br/>
                Lets begin with the fragnance of this coffee powder so seductive it just pulls you closer, the colour of the coffee so mature so beautiful,
                the way it is being prepared with lots of love, time and utmost care to bring out the best of its flavour and yes the flavour, like you
                can never get enough of it, I know I can't<br/> and if you are thinking I am still talking about the coffee, you silly "bachaa"
                I was talking about you.<br/>
                
            </div>
        </div>
    </div>
    <div class="container note-footer">
        <h3 class="title display-4">I LOVE YOU</h3> 
        <h3 class="title display-4">Akash</h3> 
    </div>
    
</div>